.pagination-container {
  display: flex;
  margin-top: 20px;
  margin: 0 auto;
  max-width: 200px;
  position: absolute;
  bottom: 120px;

  .pagination-btn {
    background: none;
    border: none;
    color: #878785;
    cursor: pointer;
    font-size: 18px;
    height: 25px;
    margin: 0 6px 0 6px;
    width: 25px;
  }

  #active-page-btn {
    color: #f98b88;
  }
}
