.add-food-container {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5vh 50px 0 50px;
  text-align: center;
  width: 100%;
  height: 60vh;
  margin-left: -50px;

  .add-food-sub-container {
    margin-top: 100px;

    .add-food-input-container {
      display: inline-block;
      width: 30%;
      margin: 2%;

      .add-food-place-input {
        font-size: 20px;
        font-weight: bold;
        height: 25px;
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: none;
        border-bottom: 1px solid rgb(144, 141, 141);
        margin-bottom: 20px;
        caret-color: transparent;

        &:hover {
          background-color: rgb(249, 139, 136, 0.7);
          border-radius: 10px;
        }
      }
    }

    .error {
      color: #f75d59;
      font-size: 15px;
      margin-bottom: 10px;
    }

    .add-food-place-btn {
      display: inline-block;
      height: 30px;
      width: 200px;
      margin-top: 15px;
      border-radius: 10px;
      border: 2px solid rgb(195, 191, 191);
      font-size: 18px;

      &:hover {
        background-color: #484444;
        border: none;
        color: white;
      }
    }
  }

  .go-back-btn-container {
    margin-left: 80px;

    .go-back-btn {
      cursor: pointer;
      color: #666362;
      font-size: 45px;
      font-weight: bold;
      float: left;

      &:hover {
        color: #f98b88;
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 800px) {
  .add-food-container {
    width: 100%;
    margin: -5px -20px 0 -20px;

    .go-back-btn-container {
      margin-left: 10px;
      margin-bottom: 50px;

      .go-back-btn {
        font-size: 30px;
      }
    }

    .add-food-sub-container {
      .add-food-input-container {
        width: 45%;

        .add-food-place-input {
          font-size: 16px;
        }
      }
    }
  }
}
