.home-container {
  text-align: center;
  width: 100%;
  min-height: 65vh;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center; /* Horizontally center the grid */
  align-items: flex-start;
  position: relative;

  .food-categories-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 50px;
  }

  .no-categories-img {
    background-image: url("../../assets/no-categories-img.jpg");
    background-size: contain;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 18vh 0 25px 0;
  }

  .no-categories-text {
    color: #a9a9a9;
    font-size: 25px;
  }
}

.search-box-container {
  background-color: white;
  width: 100%;
  padding-top: 5vh;
}

.home-container#no-collection {
  min-height: calc(75vh + 30px);
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .home-container {
    margin: -5px 0px 50px 0px;
    padding: 0 0px 100px 0px;

    .food-categories-container {
      margin-top: 3vh;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 25px;
      width: 100%;
    }
  }

  .search-box-container {
    padding-top: 20px;
    height: 120px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1399px) {
  .home-container {
    padding-bottom: 100px;
    min-height: 50vh;

    .food-categories-container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 25px;
      row-gap: 25px;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 2200px) {
  .home-container {
    padding-bottom: 100px;
    .food-categories-container {
      column-gap: 30px;
      row-gap: 30px;
    }
  }
}
