.home-container {
  padding: 0 50px 0 50px;
  text-align: center;
  width: 100%;
  min-height: 70vh;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: -50px;
  display: flex;
  justify-content: center; /* Horizontally center the grid */
  align-items: flex-start;
  position: relative;

  .food-categories-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 50px;
  }

  .no-categories-img {
    background-image: url("../../assets/no-categories-img.jpg");
    background-size: contain;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 15vh 0 25px 0;
  }

  .no-categories-text {
    color: #a9a9a9;
    font-size: 25px;
  }
}

.search-box-container {
  background-color: white;
  width: 100%;
  padding: 5vh 50px 0 50px;
  margin-left: -50px;
}

.home-container#no-collection {
  min-height: calc(75vh + 30px);
}
