.home-container {
  padding: 0 50px 0 50px;
  text-align: center;
  width: 100%;
  min-height: 70vh;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: -50px;
  display: flex;
  justify-content: center; /* Horizontally center the grid */
  align-items: flex-start;
  position: relative;

  .food-categories-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 50px;
  }

  .no-categories-img {
    background-image: url("../../assets/no-categories-img.jpg");
    background-size: contain;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 18vh 0 25px 0;
  }

  .no-categories-text {
    color: #a9a9a9;
    font-size: 25px;
  }
}

.search-box-container {
  background-color: white;
  width: 100%;
  padding: 5vh 50px 0 50px;
  margin-left: -50px;
}

.home-container#no-collection {
  min-height: calc(75vh + 30px);
}

@media only screen and (max-width: 800px) {
  .home-container {
    margin: -5px -20px 50px -20px;
    width: calc(100% + 60px);
    padding: 0 20px 100px 20px;

    .food-categories-container {
      margin-top: 3vh;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
      row-gap: 25px;
      width: 100%;
    }
  }

  .search-box-container {
    margin: -5px -20px 0 -20px;
    padding: 20px 50px 0px 50px;
    height: 120px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1399px) {
  .home-container {
    padding-bottom: 100px;
    min-height: 50vh;

    .food-categories-container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 25px;
      row-gap: 25px;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 2200px) {
  .home-container {
    padding-bottom: 100px;
    .food-categories-container {
      column-gap: 30px;
      row-gap: 30px;
    }
  }
}
