.food-place-link-container {
  .food-place-link {
    color: #666362;
    margin: 15px 10px 15px 0;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
      color: #f98b88;
    }

    .rating {
      margin-left: 5px;
    }
  }
}
