.food-place-link-container {
  .food-place-link {
    color: #666362;
    margin: 15px 10px 15px 0;
    cursor: pointer;

    &:hover {
      color: #f98b88;
    }

    .rating {
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .food-place-link {
    font-size: 14px;
  }
}
