.add-food-container {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 5vh;
  text-align: center;
  width: 100%;
  height: 65vh;

  .go-back-btn-container {
    margin-left: 10%;

    .go-back-btn {
      cursor: pointer;
      color: #666362;
      font-size: 45px;
      font-weight: bold;
      float: left;

      &:hover {
        color: #f98b88;
      }
    }
  }

  .add-food-sub-container {
    margin-top: 100px;

    .add-food-input-container {
      display: inline-block;
      width: 30%;
      margin: 2%;

      .place-label {
        font-size: 18px;
        font-style: italic;
      }

      .error {
        display: inline-block;
        color: #f75d59;
        font-size: 16px;
        margin-left: 8px;
      }

      .add-food-place-input {
        font-size: 20px;
        font-weight: bold;
        height: 25px;
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: none;
        border-bottom: 1px solid rgb(144, 141, 141);
        margin: 10px 0 20px 0;

        &:hover {
          background-color: rgb(249, 139, 136, 0.7);
          border-radius: 10px;
        }
      }
    }

    .add-food-place-btn {
      display: inline-block;
      height: 35px;
      width: 200px;
      margin-top: 4%;
      border-radius: 10px;
      border: 2px solid rgb(195, 191, 191);
      font-size: 18px;

      &:hover {
        background-color: #484444;
        border: none;
        color: white;
      }
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 800px) {
  .add-food-container {
    width: 100%;
    margin-top: -5px;

    .go-back-btn-container {
      margin-left: 30px;
      margin-bottom: 50px;

      .go-back-btn {
        font-size: 30px;
      }
    }

    .add-food-sub-container {
      .add-food-input-container {
        width: 40%;
        margin: 5px 15px;

        .place-label {
          font-size: 14px;
        }

        .add-food-place-input {
          font-size: 14px;
        }
      }

      .add-food-place-btn {
        height: 25px;
        width: 150px;
        font-size: 14px;
      }
    }
  }
}
