.navigation-container {
  margin-top: 2%;
  height: 100px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 4% 50px 0 50px;
  margin-left: -50px;

  .logo-container {
    display: inline-block;
    width: 600px;
    height: 80px;
    margin-left: 20px;

    .logo {
      width: 70%;
      height: 60%;
      display: inline-block;
      margin-right: 5px;
    }

    .logo1 {
      height: 90%;
      display: inline-block;
    }
  }

  .nav-links-container {
    float: right;

    .nav-links {
      background: none;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      height: 30px;
      margin: 20px;
      width: 100px;

      &:hover {
        background-color: #f98b88;
        color: white;
      }
    }
  }
}
