.navigation-container {
  margin-top: 2%;
  height: 100px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 4%;

  .logo-container {
    display: inline-block;
    width: 600px;
    height: 80px;
    margin-left: 7%;

    .logo {
      width: 70%;
      height: 60%;
      display: inline-block;
      margin-right: 5px;
    }

    .logo1 {
      height: 90%;
      display: inline-block;
    }
  }

  .nav-links-container {
    float: right;
    margin-right: 4%;
    max-height: 150px;

    .add-nav-links {
      background: none;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      height: 30px;
      margin: 20px 0 20px 20px;
      width: 100px;
      vertical-align: top;

      &:hover {
        background-color: #f98b88;
        color: white;
      }
    }

    .user-nav-container {
      text-align: center;
      display: inline-block;
      width: 150px;

      .point-up-triangle {
        display: none;
      }

      .user-img {
        background-image: url("../../assets/user.png");
        background-size: contain;
        width: 30px;
        height: 30px;
        display: inline-block;
        cursor: pointer;
        margin-top: 20px;
      }

      .nav-links {
        display: none;
      }
    }

    .user-nav-container#showLinks {
      .point-up-triangle {
        display: block;
        color: rgb(44, 53, 57);
        font-size: 17px;
        margin-top: -3px;
      }

      .links-dropdown-menu {
        background-color: rgb(44, 53, 57);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -5px;
        position: absolute;
        width: 150px;

        .nav-links {
          display: block;
          background: none;
          border: none;
          border-radius: 10px;
          color: white;
          font-size: 18px;
          height: 30px;
          margin: 10px 25px 10px 25px;
          width: 100px;

          &:hover {
            color: #f98b88;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .navigation-container {
    padding: 4% 0px 0 0px;
    width: 100%;
    text-align: center;

    .logo-container {
      width: 90%;
      margin-left: 0;
    }

    .nav-links-container {
      position: absolute;
      right: 0;
      z-index: 1;

      .user-nav-container {
        width: 100px;

        .links-dropdown-menu {
          width: 100px;
        }
      }

      .user-nav-container#showLinks {
        .point-up-triangle {
          font-size: 15px;
          margin-top: -5px;
        }

        .links-dropdown-menu {
          width: 100px;

          .nav-links {
            font-size: 12px;
            height: 20px;
            width: 80px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 651px) and (max-width: 1200px) {
  .navigation-container {
    margin-top: 9vh;

    .logo-container {
      width: 50%;
      height: 60px;
    }

    .nav-links-container {
      width: 38%;
      position: absolute;
      right: 0;
      z-index: 1;
      top: 13vh;

      .user-nav-container#showLinks {
        .point-up-triangle {
          font-size: 15px;
          margin-top: -5px;
        }

        .links-dropdown-menu {
          width: 150px;

          .nav-links {
            font-size: 12px;
            height: 20px;
            width: 80px;
          }
        }
      }
    }
  }
}

@media only screen and (width: 1024px) and (height: 600px) {
  .navigation-container {
    .nav-links-container {
      top: 18vh;
    }
  }
}

@media only screen and (min-width: 1201px) and (max-width: 2100px) {
  .navigation-container {
    .nav-links-container {
      width: 30%;
      position: absolute;
      right: 0;
      z-index: 1;
      top: 10vh;
    }
  }
}

@media only screen and (min-width: 2100px) {
  .navigation-container {
    margin-top: 3vh;
  }
}
