.view-category-container {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  min-height: 69.3vh;
  width: 100%;
  padding: 8vh 50px 0 50px;
  margin-left: -50px;

  .go-back-btn-container {
    margin-left: 80px;

    .go-back-btn {
      cursor: pointer;
      color: #666362;
      font-size: 45px;
      font-weight: bold;
      float: left;

      &:hover {
        color: #f98b88;
      }
    }
  }

  .search-box-container {
    width: 75%;
    padding: 0 50px 0 50px;
    display: flex;

    .option-sort-container {
      margin-left: 30px;

      .option-sort {
        height: 30px;
        min-width: 60px;
        border: none;
        font-size: 17px;
        color: #666362;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .view-category-sub-container {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;

    .view-category-box {
      border-radius: 15px;
      margin: 0 auto;
      width: 500px;
      min-height: 400px;
      text-align: center;
      margin-bottom: 80px;

      .foodName-title {
        background-color: #f98b88;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        color: white;
        font-size: 30px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .no-collection {
        color: #9b9191;
        font-size: 20px;
        font-weight: bold;
        margin: 80px 0 80px 0;
      }

      .go-to-add-btn {
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        font-weight: bold;
        width: 100px;
        height: 28px;
        border-radius: 5px;

        &:hover {
          background-color: #4c4646;
          border: none;
          color: white;
        }
      }
    }

    .view-category-place:nth-child(odd) {
      background-color: #4c4646;

      .food-place-link {
        color: #a29c9c;

        &:hover {
          color: white;
        }
      }

      .food-place-link:hover {
        color: white;
      }

      .update-delete-btn {
        background-color: #7b7676;

        &:hover {
          background-color: white;
          color: #4c4646;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .view-category-container {
    height: 70vh;
    margin: -5px -20px 0 -20px;

    .go-back-btn-container {
      margin: -10px 0 70px 5px;

      .go-back-btn {
        font-size: 30px;
      }
    }

    .search-box-container {
      padding: 0;
      margin: 0 auto;

      .option-sort-container {
        .option-sort {
          height: 20px;
          font-size: 15px;
        }
      }
    }
  }
}
