.food-card-container {
  border: 1px solid rgb(209, 206, 206);
  border-radius: 8px;
  height: 300px;
  width: 300px;
  position: relative;

  .food-category-name-container {
    background-color: #f98b88;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27%;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .food-category-name {
      color: white;
      margin: 0;
    }

    .view-food-category-btn {
      display: none;
    }

    &:hover {
      .view-food-category-btn {
        background-color: #4c4646;
        border: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 22px;
        height: 80px;
        position: absolute;
        width: 100%;
      }
    }
  }

  .no-collection {
    color: #9b9191;
    font-size: 16px;
    font-weight: bold;
    margin: 40px 0 30px 0;
  }

  .go-to-add-btn {
    background-color: white;
    border: 1px solid #a3a1a1;
    color: #848482;
    cursor: pointer;
    font-weight: bold;
    width: 80px;
    height: 24px;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    margin-left: -39px;

    &:hover {
      background-color: #4c4646;
      border: none;
      color: white;
    }
  }
}

@media only screen and (max-width: 800px) {
  .food-card-container {
    width: 99%;
    height: 200px;

    .food-list-box {
      height: 120px;
      overflow-y: auto;
    }

    .food-category-name-container {
      height: 45px;

      &:hover {
        .view-food-category-btn {
          height: 45px;
        }
      }
    }

    .go-to-add-btn {
      font-size: 12px;
      width: 60px;
      height: 20px;
      margin-left: -29px;
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .food-card-container {
    width: 200px;
    height: 200px;

    .food-list-box {
      height: 80px;
      overflow-y: auto;
    }
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1499px) {
  .food-card-container {
    width: 230px;
    height: 230px;

    .food-list-box {
      height: 120px;
      overflow-y: auto;
    }
  }
}

@media only screen and (min-width: 1500px) and (max-width: 2200px) {
  .food-card-container {
    width: 250px;
    height: 250px;

    .food-list-box {
      height: 120px;
      overflow-y: auto;
    }
  }
}

* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7c4c4;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
