.add-Food-Category-container {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 60vh;
  width: 100%;
  text-align: center;
  padding: 5vh 50px 0 50px;
  margin-left: -50px;

  .go-back-btn-container {
    margin-left: 80px;

    .go-back-btn {
      cursor: pointer;
      color: #666362;
      font-size: 45px;
      font-weight: bold;
      float: left;

      &:hover {
        color: #f98b88;
      }
    }
  }

  .add-food-category-sub-container {
    padding-top: 7vh;

    .add-Food-Category-Input {
      font-size: 20px;
      font-weight: bold;
      height: 25px;
      width: 300px;
      padding: 5px;
      border-radius: 3px;
      border: none;
      border-bottom: 1px solid rgb(144, 141, 141);
      margin-bottom: 20px;
      caret-color: transparent;

      &:hover {
        background-color: rgb(249, 139, 136, 0.7);
        border-radius: 10px;
      }
    }

    .error {
      color: #f75d59;
      font-size: 15px;
      margin-bottom: 10px;
    }

    .add-food-category-btn {
      height: 30px;
      width: 200px;
      margin-top: 25px;
      border-radius: 10px;
      border: 2px solid gray;
      font-size: 18px;

      &:hover {
        background-color: #484444;
        border: none;
        color: white;
      }
    }
  }
}
