.view-categories-container {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  min-height: 69.3vh;
  padding: 8vh 50px 0 50px;
  margin-left: -50px;

  .go-back-btn-container {
    margin-left: 80px;

    .go-back-btn {
      cursor: pointer;
      color: #666362;
      font-size: 45px;
      font-weight: bold;
      float: left;

      &:hover {
        color: #f98b88;
      }
    }
  }

  .search-box-container {
    width: 70%;
    padding: 0 50px 0 50px;
    display: flex;

    .option-sort-container {
      margin-left: 30px;

      .option-sort {
        height: 30px;
        min-width: 60px;
        border: none;
        font-size: 17px;
        color: #666362;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .view-categories-sub-container {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;

    .all-categories-box {
      border-radius: 15px;
      margin: 0 auto;
      width: 500px;
      min-height: 600px;
      margin-bottom: 80px;

      .view-all-cats-title {
        background-color: #f98b88;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        color: white;
        font-size: 28px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .category-container {
        border-radius: 5px;
        width: 90%;
        margin: auto;
        height: 80px;
        display: flex;
        justify-content: space-between;

        .foodName {
          cursor: pointer;
          color: #666362;
          display: inline-block;
          font-size: 22px;

          &:hover {
            color: #f98b88;
          }

          .cuisine {
            color: #8a8785;
            font-size: 18px;
            margin-left: 8px;
          }
        }

        .menu-btn-container {
          margin-top: 15px;

          .kabob-menu {
            cursor: pointer;
            color: #666362;
            font-size: 22px;
            position: absolute;
          }

          .btns-container {
            display: none;
          }

          .btns-container#hidden {
            display: inline-block;
            margin-top: 40px;
            margin-right: -20px;

            .category-btns {
              cursor: pointer;
              background-color: white;
              border: 1px solid #afacab;
              border-radius: 8px;
              padding: 4px 5px;
              margin: 0 5px;

              &:hover {
                border: 1px solid #4863a0;
                color: rgb(245, 239, 239);
                background-color: #4863a0;
              }
            }

            .category-btns#delete:hover {
              border: 1px solid #36454f;
              background-color: #36454f;
            }
          }
        }
      }

      .no-collection {
        color: #9b9191;
        font-size: 20px;
        font-weight: bold;
        margin: 80px 0 80px 0;
      }

      .go-to-add-btn {
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        font-weight: bold;
        width: 100px;
        height: 28px;
        border-radius: 5px;

        &:hover {
          background-color: #4c4646;
          border: none;
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .view-categories-container {
    min-height: 70vh;
    margin: -5px -20px 50px -20px;
    text-align: center;

    .go-back-btn-container {
      margin: -10px 0 70px 5px;

      .go-back-btn {
        font-size: 30px;
      }
    }

    .search-box-container {
      width: 100%;
      padding: 0;
      margin: 0 auto;
      height: 40px;
      display: inline-block;

      .option-sort-container {
        display: inline;
        .option-sort {
          height: 20px;
          font-size: 15px;
        }
      }
    }

    .view-categories-sub-container {
      .all-categories-box {
        min-height: 0px;

        .view-all-cats-title {
          height: 50px;
          font-size: 25px;
        }

        .category-container {
          height: 60px;

          .foodName {
            font-size: 20px;
          }
        }
      }
    }
  }
}
